<% if signed_in? %>

<table class="front" summary="For signed-in users">
  <tr>
    <td class="main">
      <h1 class="micropost">What's up?</h1>
      <%= render 'shared/micropost_form' %>
      <%= render 'shared/feed' %>
    </td>
    <td class="sidebar round">
      <%= render 'shared/user_info' %>
    </td>
  </tr>
</table>

<% else %>

<h1>The Latest Debate</h1>
<p>
  This is the homepage for <a href="htt'://www.thelatestdebate.com"> The Latest Debate </a>
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round"%>

 <div id="fb-root" style="position:absolute;top:50px;left:1110px">
      <script src="http://connect.facebook.net/en_US/all.js">
      </script>
      <script>
         FB.init({ 
            appId:'162073940524216', cookie:true, 
            status:true, xfbml:true 
         });
      </script>
  <fb:login-button perms="">
         Login with Facebook
      </fb:login-button>
</div>
<% end %>